* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft JhengHei", serif;
}
body {
  padding-top: 60px;
}

header img{
  width: 50px;
}

#mapSession {
  position: relative;
  text-align: center;
}

#map{
  width: 80vw;
  max-width: 800px;
  /* height: 90vh; */
  filter: drop-shadow(5px 10px 0px #6db3ff);
}
#map path {
  transition-duration: 0.5s;
}
#map path:hover {
  fill: #ffc107;
  stroke: #d88700;
  transform: translateY(-10px);
  cursor: pointer;
}
#areaInfo{
  display: none;
  position: absolute;
  width: 200px;
  min-height: 50px;
  word-break: break-all;
  text-align: justify;
  background-color: #ffe699;
  top: 100px;
  left: 400px;
  z-index: 99;
  padding: 5px;
  border: 3px double #d88700;
  pointer-events: none;
  border-radius: 10px;
}

#areaInfo p{
  margin-bottom: 5px;
}

#searachSession{
  position: relative;
  padding: 2rem 3rem;
}

.infoBox{
  margin-top: 30px;
  text-align: left;
}
.tip{
  /* position: absolute; */
  left: 2vh;
  bottom: 5vh;
  display: inline-block;
  padding: 20px;
  color: #007bff;
  background-color: #fff;
  border: 5px double #6db3ff;
}
.tip2{
  color: #007bff;
  font-weight: bold;
  margin-bottom: 5px;
}
.tip3{
  color: red;
  font-weight: bold;
  margin-bottom: 5px;
}


#parkTable{
  min-width: 2000px;
}
#parkTable tr.full{
  background-color: #ffdada;
}
.dataTable thead{
  color: #fff;
  background-color: #007bff;
}
.dataTable thead th,
.dataTable tbody td{
  vertical-align: middle;
}
.cent{
  text-align: center;
}

.dataTable tbody tr:hover td{
  background-color: #d1e7ff;
}


.btn{
  display: inline-block;
  margin: 0 auto;
  color: #fff;
  background-color: #2d92ff;
  border: 1px solid #2d92ff;
  padding: 8px 10px;
  border-radius: 5px;
}
.btn:hover{
  color :#2d92ff;
  background-color: #fff;
  border: 1px solid #2d92ff;
}



/* -------- 回頂部按鈕 -------- */
.btnBackUP{
  position: fixed;
  right: 5vh;
  bottom: 3vh;
  color: #fff;
  background-color: #2d92ff;
  border: 1px solid #2d92ff;
  padding: 8px 10px;
  border-radius: 5px;
  transition-duration: 0.5s;
  cursor: pointer;
  z-index: 999;
  animation: ani_btnBackUP 2s linear 0s infinite;
}
.btnBackUP:hover{
  color :#2d92ff;
  background-color: #fff;
  border: 1px solid #2d92ff;
}
.btnBackUP span{
  font-size: 1.5rem;
}

@keyframes ani_btnBackUP{
  50%{
    bottom: 5vh;
  }
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: #007bff;
  font-size: 0.85rem;
  padding: 10px 0;
  box-shadow: 5px -5px 20px #5d6fa025;
}
footer p{
  margin: 5px;
  text-align: center;
}


/* --------------------------------- */

#chartSection{
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 120px;
}

/* --------------------------------- */

#detailSection{
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 120px;
}
#parkName{
  color: #007bff;
  margin-bottom: 15px;
}
#detailTable td{
  border-bottom: 1px solid #dee2e6;
}
#detailTable td:first-child{
  min-width: 120px;
}
